@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 20px !important;
  border: 0.5px solid rgb(226, 225, 225);
  background: #FFF;
  width: 60%;
  border-radius: 6px;
}

.filter{
  margin: auto;
  width: 60%;
}
